body {
    font-family: Arial, sans-serif;
    background-image: url('') !important;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a6fb3;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 25px;
}

main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px;
}

section h2 {
    font-size: 24px;
}

#footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

li {
    margin-bottom: 20px;
}

.member {
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.member img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
    text-align: center;
    padding: 15px;
}

#menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

.custom-nav {
    margin: 0 auto -15px auto !important;
    background-color: #456088 !important;
}

.custom-div1 {
    width: 15%;
}

.custom-div2 {
    width: 17%;
}

.custom-div3 {
    width: 13%;
    text-align: center;
}

.login {
    border-radius: 10px;
    background-color: #456088;
    border: #456088 1px solid;
    font-size: large;
}

.login>a {
    color: white;
}

.login:hover a {
    color: black;
}

.signup {
    border-radius: 10px;
    background-color: #456088;
    border: #456088 1px solid;
    font-size: large;
}

.signup>a {
    color: white;
}

.signup:hover a {
    color: black;
}

.custom-a {
    width: 20%;
    font-size: larger !important;
    color: white !important;
    text-align: center;

}

.custom-a:hover {
    color: #87A4CF !important;
}

.image-header {
    z-index: 1;
    height: 150px;
    width: 100%;
}

.div-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.UBND {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CDV {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-header2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    vertical-align: middle;
}

#footer {
    background-color: #414A57;
}

.user {
    border-radius: 10px;
    background-color: #456088;
    border: #456088 1px solid;
    color: white;
    font-size: large;
}

.user:hover {
    color: #87A4CF;
}

.sub-user {
    display: none;
    width: 20%;
    margin: 0 auto 0 21%;
    position: absolute;
    top: 45px;
    left: 66%;
}

.sub-user>li {
    margin: 0;
}

.sub-user>li>a {
    display: block;
    color: #333;
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: #333 1px solid;
    text-align: center;
    background-color: white;
}

.sub-user>li>a:hover {
    color: #87A4CF;
    text-decoration: none;
}

.custom-div3:hover .sub-user {
    display: block;
}