body {
    font-family: Arial, sans-serif;
    background-color: #674f4f;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a6fb3;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 25px;
}

main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px;
}

section h2 {
    font-size: 24px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

li {
    margin-bottom: 20px;
}

.member {
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.member img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
    text-align: center;
    padding: 15px;
}

#menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    nav ul {
        display: none;
        background-color: #3498db;
    }
    nav li {
        display: block;
        text-align: center;
        margin: 10px;
    }
}