@media (max-width: 991px) and (min-width: 600px) {
    .custom-div1 {
        width: 10%;
    }

    .navbar-nav {
        width: 60% !important;
    }

    .custom-div2 {
        width: 5%;
    }

    .custom-div3 {
        width: 15%;
    }

    .UBND,
    .CDV {
        font-size: 20px;
    }

    .image-header {
        height: 120px;
    }

    h3 {
        font-size: 25px !important;
    }

    .custom-a {
        width: 100% !important;
        padding-left: 2px !important;
        text-align: start;
    }

    .custom-div3 {
        float: right;
        width: fit-content;
        margin-top: -217px;
    }

    main {
        width: 100% !important;
        margin: 0;
        margin-bottom: 25px;
    }

    .btn-primary {
        width: 40% !important;
        margin-left: 60% !important;
    }

    .present {
        width: 100%;
        margin: 30px 0;
    }

    .col-md-2 {
        display: inline;
    }

    #service1,
    #service2,
    #service3,
    .notify,
    .password-change-form {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .sub-user {
        width: 12%;
        margin: 0;
        left: 85%;
        padding-left: 0;
    }

    .sub-user>li>a {
        width: 100%;
    }

    .personal {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .div-child1 {
        width: 90%;
    }

    .div-child12 {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .div-child2>img {
        margin-bottom: 5%;
    }

    .div-child3 {
        width: 90% !important;
    }

    .div-child2>p, .div-child3>p {
        margin-top: 5%;
    }

    .div-child4 {
        width: 90% !important;
        margin-top: 5%;
    }

    .run-image {
        width: 400px;
    }

    .new {
        width: 90%;
    }

    .div-contact {
        display: block;
        padding-left: 0;
    }

    .div-image, .div-info>h3 {
        text-align: center;
    }

    .address {
        font-size: 17px;
    }
}