<!DOCTYPE html>
<html>

<head>
  <title>Tổ dân phố 7 phường La Khê</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static '/icon/favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive-mobile.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive-tablet.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive-small-pc.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6divZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <img class="image-header" src="{% static 'img/background.png' %}" alt="background" />
    <div class="div-header">
      <p class="UBND">UBND PHƯỜNG LA KHÊ - TỔ DÂN PHỐ SỐ 7</p>
      <p class="CDV">CỔNG DỊCH VỤ QUẢN LÝ THU PHÍ, ĐÓNG GÓP</p>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light custom-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="custom-div1"></div>
      <div class="custom-div1"></div>
      <div class="navbar-nav" style="width: 40%;">
        <a class="nav-item nav-link active custom-a" href="/">Trang chủ <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active custom-a" href="/service">Dịch vụ</a>
        <a class="nav-item nav-link active custom-a" href="/about">Giới thiệu</a>
        <a class="nav-item nav-link active custom-a" href="/contact">Liên hệ</a>
        <a class="nav-item nav-link active custom-a" href="/notification">Thông báo</a>
      </div>
      <div class="custom-div2"></div>
      <div class="custom-div3">
        {% if user.is_authenticated %}
        <button class="user">{{ user.last_name }} {{ user.first_name }}</button>
        <ul class="sub-user">
          <li>
            <a href="/changepassword">Đổi mật khẩu</a>
          </li>
          <li>
            <a href="/personal">Hồ sơ</a>
          </li>
          <li>
            <a href="/logout">Đăng xuất</a>
          </li>
        </ul>
        {% else %}
        <button class="login"><a href="/login">Đăng nhập</a></button>
        <button class="signup"><a href="/signup">Đăng ký</a></button>
        {% endif %}
      </div>
    </div>
  </nav>
  <main>
    <section>
      <div class="div-parent" style="background-color: aliceblue; padding-top: 3%;">
        <div class="div-child1">
          <h5><strong>Giới thiệu về phần mềm thu phí và đóng góp cho Tổ dân phố</strong></h5>
          <p>Phần mềm Quản lý thu phí và đóng góp cho Tổ dân phố 7 phường La Khê là một giải pháp quản
            lý
            hiện đại giúp tổ chức theo dõi thông tin cộng đồng và thu tiền một cách hiệu quả.</p>
          <p>Với hơn 400 hộ gia đình, sinh viên thuê trọ và các khoản đóng góp đa dạng, phần mềm này
            giúp
            cán bộ kế toán lập danh sách, thu phí vệ sinh hàng năm và quản lý các đóng góp từ cộng đồng.</p>
          <p>Nó cũng cung cấp các công cụ thống kê để nắm bắt tình hình tài chính và tăng cường tính
            minh
            bạch trong quản lý. Dự án này sẽ nâng cao quản lý tổ dân phố thông qua công nghệ thông tin và hiệu quả hóa
            quy
            trình quản lý tài chính.</p>
        </div>
        <div class="div-child2 fade-in">
          <img src="{% static 'img/service.png' %}" alt="service-image">
        </div>
      </div>
      <div class="div-parent">
        <div class="div-child1 fade-in">
          <div class="div-child-row">
            <div class="div-image">
              <img src="{% static 'img/django.svg' %}" alt="django" class="language">
              <p>Django</p>
            </div>
            <div class="div-image">
              <img src="{% static 'img/sql.svg' %}" alt="sqlite" class="language">
              <p>Sqlite</p>
            </div>
            <div class="div-image">
              <img src="{% static 'img/html.svg' %}" alt="html" class="language">
              <p>HTML</p>
            </div>
          </div>
          <div class="div-child-row">
            <div class="div-image">
              <img src="{% static 'img/css.svg' %}" alt="css" class="language">
              <p>CSS</p>
            </div>
            <div class="div-image">
              <img src="{% static 'img/js.svg' %}" alt="javascript" class="language">
              <p>Javascript</p>
            </div>
            <div class="div-image">
              <img src="{% static 'img/bootstrap.svg' %}" alt="bootstrap" class="language">
              <p>Bootstrap</p>
            </div>
          </div>
        </div>
        <div class="div-child2 fade-in">
          <p><strong>Sử dụng linh hoạt, đa dạng ngôn ngữ và công nghệ</strong></p>
        </div>
      </div>
      <div class="div-parent" style="background-color: aliceblue; padding-top: 3%;">
        <div class="div-child3 fade-in">
          <p><strong>Cùng đội ngũ phát triển nhiệt huyết, sáng tạo</strong></p>
        </div>
        <div class="div-child4 fade-in">
          <div class="div-child-row">
            <div class="div-image">
              <img src="{% static 'img/dinhthaison.png' %}" alt="django" class="avatar">
              <p class="name">Đinh Thái Sơn</p>
              <p>Developer/Backend</p>
            </div>
            <div class="div-image">
              <img src="{% static 'img/buoivanhuy.jpg' %}" alt="sqlite" class="avatar">
              <p class="name">Bùi Văn Huy</p>
              <p>Designer/Frontend</p>
            </div>
            <div class="div-image">
              <img src="{% static 'img/phamquanghuy.jpg' %}" alt="html" class="avatar">
              <p class="name">Phạm Quang Huy</p>
              <p>Developer/Database</p>
            </div>
          </div>
          <div class="div-child-row">
            <div class="div-image-special">
              <img src="{% static 'img/tranngocbao.jpg' %}" alt="css" class="avatar">
              <p class="name">Trần Ngọc Bảo</p>
              <p>Developer/Frontend</p>
            </div>
            <div class="div-image">
              <img src="{% static 'img/vuminhhien.jpg' %}" alt="javascript" class="avatar">
              <p class="name">Vũ Minh Hiển</p>
              <p>Writing/Report</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>
  <div id="footer" style="background-color: #414A57;">&copy; 2023 Nhóm 3 - Nhập môn Công nghệ phần mềm.</div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    const image = document.querySelector(".div-child2>img");

    const images = [
      "{% static 'img/homepage.png' %}",
      "{% static 'img/service.png' %}",
      "{% static 'img/about.png' %}",
      "{% static 'img/login.png' %}",
      "{% static 'img/signup.png' %}",
    ];

    const interval = setInterval(() => {
      image.src = images[Math.floor(Math.random() * images.length)];
    }, 3000);
    
    window.addEventListener('scroll', function () {
      var elements = document.querySelectorAll('.fade-in');
      for (var i = 0; i < elements.length; i++) {
        var element = elements[i];
        var boundingRect = element.getBoundingClientRect();
        if (boundingRect.top * 1.2 < window.innerHeight) {
          element.classList.add('is-visible');
        } else {
          element.classList.remove('is-visible');
        }
      }
    });
  </script>
</body>

</html>