<!DOCTYPE html>
<html>

<head>
  <title>Tổ dân phố 7 phường La Khê</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-styles.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <style>

  </style>
</head>

<body>
  <header>
    <img class="image-header" src="{% static 'img/background.png' %}" alt="background">
    <div class="div-header">
      <p class="UBND">UBND PHƯỜNG LA KHÊ - TỔ
        DÂN PHỐ SỐ 7</p>
      <p class="CDV">CỔNG DỊCH VỤ QUẢN LÝ THU PHÍ,
        ĐÓNG GÓP</p>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light custom-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="custom-div1"></div>
      <div class="custom-div1"></div>
      <div class="navbar-nav" style="width: 40%;">
        <a class="nav-item nav-link active custom-a" href="/">Trang chủ <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active custom-a" href="/service">Dịch vụ</a>
        <a class="nav-item nav-link active custom-a" href="/about">Giới thiệu</a>
        <a class="nav-item nav-link active custom-a" href="/contact">Liên hệ</a>
        <a class="nav-item nav-link active custom-a" href="/logout">Thông báo</a>
      </div>
      <div class="custom-div2"></div>
      <div class="custom-div3">
        <button class="signin">
          <a href="/login">Đăng nhập</a>
        </button>
        <button class="signup">
          <a href="/signup">Đăng ký</a>
        </button>
      </div>
  </nav>
  <main>
    <section>
      <h3 style="text-align: center; margin-bottom: 100px; font-size: 50px;">
        Các liên hệ tổ dân phố
      </h3>
    </section>
    <section>
      <div class="canbo">
        <h3 style="margin-bottom: 20px; font-style: italic; padding-left: 10%;">Tổ trưởng</h3>
        <address class="address">
          Ông: Đinh Thái Sơn
          <br />
          <img src="{% static 'icon/email.svg' %}" alt="email" style="display: inline-block; margin-bottom: 3px;">
          Email:
          <a href="mailto:sondinh99999@gmail.com">sondinh99999@gmail.com</a><br />
          <img src="{% static 'icon/tablet.svg' %}" alt="phone" style="display: inline-block; margin-bottom: 3px;"> Điện
          thoại: <a href="tel:+84915487872">+84915487872</a><br />
          <img src="{% static 'icon/link.svg' %}" alt="Telegram" style="display: inline-block; margin-bottom: 3px;">
          Telegram: <a href="https://t.me/vepio">@vepio</a>
        </address>
      </div>
      <div class="canbo">
        <h3 style="margin-bottom: 20px; font-style: italic; padding-left: 10%;">Tổ phó</h3>
        <address class="address">
          Ông: Bùi Văn Huy
          <br />
          <img src="{% static 'icon/email.svg' %}" alt="email" style="display: inline-block; margin-bottom: 3px;">
          Email:
          <a href="mailto:huybui@gmail.com">huybuoi@gmail.com</a><br />
          <img src="{% static 'icon/tablet.svg' %}" alt="phone" style="display: inline-block; margin-bottom: 3px;"> Điện
          thoại: <a href="tel:+84999999999">+84999999999</a><br />
          <img src="{% static 'icon/link.svg' %}" alt="Telegram" style="display: inline-block; margin-bottom: 3px;">
          Telegram: <a href="https://t.me/buoivanhuy">@buoivanhuy</a>
        </address>
      </div>
      <div class="canbo">
        <h3 style="margin-bottom: 20px; font-style: italic; padding-left: 10%;">Kế toán</h3>
        <address class="address">
          Bà: Phạm Quang Huy
          <br />
          <img src="{% static 'icon/email.svg' %}" alt="email" style="display: inline-block; margin-bottom: 3px;">
          Email:
          <a href="mailto:huybeo@gmail.com">huybeo@gmail.com</a><br />
          <img src="{% static 'icon/tablet.svg' %}" alt="phone" style="display: inline-block; margin-bottom: 3px;"> Điện
          thoại: <a href="tel:+84399999999">+84399999999</a><br />
          <img src="{% static 'icon/link.svg' %}" alt="Telegram" style="display: inline-block; margin-bottom: 3px;">
          Telegram: <a href="https://t.me/huybeocute">@huybeocute</a>
        </address>
      </div>
    </section>
  </main>
  <div id="footer">&copy; 2023 Nhóm 3 - Nhập môn Công nghệ phần mềm.</div>
</body>

</html>