<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tổ dân phố 7 phường La Khê</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '/icon/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive-mobile.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  </head>


  <body>
    <header>
      <img class="image-header" src="{% static 'img/background.png' %}" alt="background" />
      <div class="div-header">
        <p class="UBND">UBND PHƯỜNG LA KHÊ - TỔ DÂN PHỐ SỐ 7</p>
        <p class="CDV">CỔNG DỊCH VỤ QUẢN LÝ THU PHÍ, ĐÓNG GÓP</p>
      </div>
    </header>
    <nav class="navbar navbar-expand-lg custom-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="custom-div1"></div>
        <div class="custom-div1"></div>
        <div class="navbar-nav" style="width: 40%;">
          <a class="nav-item nav-link active custom-a" href="/">Trang chủ <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active custom-a" href="/service">Dịch vụ</a>
          <a class="nav-item nav-link active custom-a" href="/about">Giới thiệu</a>
          <a class="nav-item nav-link active custom-a" href="/contact">Liên hệ</a>
          <a class="nav-item nav-link active custom-a" href="/notification">Thông báo</a>
        </div>
        <div class="custom-div2"></div>
        <div class="custom-div3">
          {% if user.is_authenticated %}
            <button class="user">{{ user.last_name }} {{ user.first_name }}</button>
            <ul class="sub-user">
              <li>
                <a href="/changepassword">Đổi mật khẩu</a>
              </li>
              <li>
                <a href="/personal">Hồ sơ</a>
              </li>
              <li>
                <a href="/logout">Đăng xuất</a>
              </li>
            </ul>
          {% else %}
            <button class="login"><a href="/login">Đăng nhập</a></button>
            <button class="signup"><a href="/signup">Đăng ký</a></button>
          {% endif %}
        </div>
      </div>
    </nav>
    <main>
      <section>
        <h3>Chờ phê duyệt</h3>
        <p>Xin chào bạn, thông tin của bạn hiện đang được chờ phê duyệt từ quản trị viên.</p>
        <p>Vui lòng chờ 1 thời gian ngắn trước khi sử dụng dịch vụ!</p>
      </section>
    </main>
    <div id="footer">&copy; 2023 Nhóm 3 - Nhập môn Công nghệ phần mềm.</div>
  </body>
</html>
