<!DOCTYPE html>
<html>

<head>
  <title>Tổ dân phố 7 phường La Khê</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-styles.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive-mobile.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive-tablet.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive-small-pc.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <img src="{% static 'img/dongchi.png' %}" alt="dongchi" style="width: 100%; height: 100vh;">
  <main class="container my-4" style="width: 30%; position: absolute; top: 25%; left: 35%; background-color: #D9D9D9;">
    <section>
      <h3 style="text-align: center;">Đăng nhập</h3>
      <div class="container">
        <form class="form-signin" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username" style="margin-top: 15px;">Tài khoản</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username của bạn" />
          </div>
          <div class="form-group">
            <label for="password" style="margin-top: 15px;">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu của bạn" />
          </div>
          <div class="form-check" style="margin-top: 20px;">
            <input type="checkbox" class="form-check-input" id="dropdownCheck" />
            <label class="form-check-label" for="dropdownCheck">Nhớ tôi</label>
          </div>
          <a href="" style="margin-top: 30px; float: left;">Quên mật khẩu</a>
          <button type="submit" class="btn btn-primary"
            style="margin: -50px 0 0 70%; width: 30%; border-radius: 10px; background-color: #3F5BBC;">Đăng
            nhập</button>
        </form>
      </div>
    </section>
  </main>
</body>

</html>